.btn-login{
    -fx-font-family: 'Kanit';
    -fx-font-size: 22px;
    -fx-background-color : white;
    -fx-border-color:#61BDF6;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 3px;
}
.btn-login:hover{
    -fx-font-family: 'Kanit';
    -fx-font-size: 22px;
    -fx-background-color: #61BDF6;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 3px;
    -fx-border-color: white;
}

.btn-top{
    -fx-font-family: 'Kanit';
    -fx-font-size: 18px;
    -fx-background-color : white;
    -fx-border-color:#61BDF6;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 3px;
}

.btn-top:hover{
    -fx-font-family: 'Kanit';
    -fx-font-size: 18px;
    -fx-background-color: #61BDF6;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 3px;
    -fx-border-color: white;
}

.menu{
    -fx-font-family: 'Kanit';
    -fx-font-size: 20px;
    -fx-background-color: #61BDF6;
    -fx-background-radius : 0;
    -fx-text-fill : #081F37;
}

.menu:hover, .menu-selected{
    -fx-font-family: 'Kanit';
    -fx-font-size: 20px;
    -fx-background-color: #081F37;
    -fx-background-radius : 0;
    -fx-text-fill : #61BDF6;
}

